.menu {
  $menu-width: 20%;
  background-color: black;
  bottom: 0;
  color: white;
  left: -$menu-width;
  position: absolute;
  top: $header-height;
  transition: all 0.25s ease-out;
  width: $menu-width;
  &--active {
    left: 0;
  }
  &__link {
    color: white;
    font-size: 20px;
    transition: padding-left 1s ease-out;
    $padding-left: 0.5rem;
    &:hover {
      padding-left: $padding-left;
    }
    &--active {
      color: $light-blue;
    }
  }
}
