.page {
  padding: 5px;
  min-height: 100vh;
  padding-top: 55px;
  transition: padding-left 0.4s ease-out;
  &--shift {
    padding-left: $sm-menu-width;
    @media (min-width: $md) {
      padding-left: $md-menu-width;
    }
  }
}
