.search-box {
  background-color: white;
  border: $border;
  border-radius: $border-radius;
  height: calc(#{$header-height}/1.5);
  padding: 1px;
  input {
    border: 0;
    border-radius: $border-radius;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 16px;
    height: 100%;
    width: 100%;
  }
  button {
    border: 0;
    height: 100%;
    padding: 0;
  }
  svg {
    height: 17.5px;
    width: 17.5px;
  }
}
