@font-face {
  font-family: "Kreon";
  font-weight: 200;
  src: url("../fonts/Kreon-Light.ttf") format('truetype');
}

@font-face {
  font-family: "Kreon";
  src: url("../fonts/Kreon-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Kreon";
  font-weight: bold;
  src: url("../fonts/Kreon-Bold.ttf") format('truetype');
}
