.song-hit {
  &__button {
    &--active {
      background-color: $light-blue;
    }
  }
  &__name {
    font-size: 1rem;
    @media (min-width: $sm) {
      font-size: 1.5rem;
    }
    &__artist {
      color: $medium-grey;
    }
  }
}
